@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Source Sans Pro";
    font-weight: 400;
    src:
      url("/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),
      url("/fonts/sourcesanspro-regular-webfont.woff") format("woff");
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-weight: 600;
    src:
      url("/fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"),
      url("/fonts/sourcesanspro-semibold-webfont.woff") format("woff");
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-weight: 800;
    src:
      url("/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),
      url("/fonts/sourcesanspro-bold-webfont.woff") format("woff");
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-weight: 700;
    src:
      url("/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),
      url("/fonts/sourcesanspro-bold-webfont.woff") format("woff");
  }

  @font-face {
    font-family: "Source Sans Pro";
    font-weight: 900;
    src:
      url("/fonts/sourcesanspro-black-webfont.woff2") format("woff2"),
      url("/fonts/sourcesanspro-black-webfont.woff") format("woff");
  }

  body {
    @apply bg-white font-source-sans-pro text-neutral-dark;
  }

  * {
    /* border: 1px solid red; */
  }
}

@layer utilities {
  .grid-container {
    --padding-inline: 1rem;
    --container-max-width: 75rem;
    --breakout-max-width: 80rem;
    --breakout-size: calc((var(--breakout-max-width) - var(--container-max-width)) / 2);

    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline),
        1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - (var(--padding-inline) * 2),
        var(--container-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline),
        1fr) [full-width-end];
  }

  .grid-container> :not(.full-width, .breakout) {
    grid-column: content;
  }

  .grid-container>.full-width {
    grid-column: full-width;
  }

  .grid-container>.breakout {
    grid-column: breakout;
  }
}
